<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Course Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="name">Name *</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="item.name" name="name" #name="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <!-- RELATIONS -->
                    


                    <h2 *ngIf="externalExam__course &&  externalExam__course[0] || externalTeacher__teacher &&  externalTeacher__teacher[0] || externalStudent_course &&  externalStudent_course[0]">External Relations</h2>
        
                        <h3 *ngIf="externalExam__course">Exam</h3>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of externalExam__course">
                                <a [routerLink]="[ '/exams', item.id ]">{{item.id}}</a>
                            </li>
                            <li class="list-group-item" *ngIf="externalExam__course.length==0">No exam found</li>
                        </ul>
                        <h3 *ngIf="externalTeacher__teacher">Teacher</h3>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of externalTeacher__teacher">
                                <a [routerLink]="[ '/teachers', item.id ]">{{item.id}}</a>
                            </li>
                            <li class="list-group-item" *ngIf="externalTeacher__teacher.length==0">No teacher found</li>
                        </ul>
                        <h3 *ngIf="externalStudent_course">Student</h3>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of externalStudent_course">
                                <a [routerLink]="[ '/students', item.id ]">{{item.id}}</a>
                            </li>
                            <li class="list-group-item" *ngIf="externalStudent_course.length==0">No student found</li>
                        </ul>

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>